

body {


}
section {

    background-color: blanchedalmond;
    display: block;
    margin: 0 auto;
    width: auto;
    padding-bottom: 50px;
    Padding-top: 35px;
    
    
    
   
}
p {
    position:relative;
    left: 15px;
    padding-left: 30%;
    font-size: 12px; 
    font-family: 'PT Serif', serif;
    margin-right: 15%;
   
}

h1 {
    
    font-size: 20pt;
    text-align: center;
}

h2 {
    position:relative;
    left: 10px;
    font-size: 14pt;

}

img {
    position: relative;
    left: 25px;
    margin: 0 auto;
    float: left;
    display: inline;
    max-width: 25%;
    min-width: 25%;
    
    

}

h1, h2, h3, h4 {
    padding-left: 30%;
    font-family: 'K2D', sans-serif;
}

ul, a{
    padding-left: 31%;
}