
body {
    background-color: blanchedalmond;
    display: block;
    margin: 0 auto;
    width: auto;
    padding-bottom: 50px;
    Padding-top: 35px;
}

img {
    position: relative;
   
    margin: 0 30px;
    margin-bottom: 20px;
    float: left;
    display: inline;
    max-width: 25%;
    min-width: 300px;
}

article {
    padding-left: 30%;
    max-width: 500px;
    float: center;
    padding-right: 50px;
}

h1, h2, h3, h4, li{
    font-family: 'K2D', sans-serif;
}

h1 {
    font-size: 20pt;
    text-align: center;
}

h2 {
    font-size: 14pt;
}

p {
    font-size: 12px; 
    font-family: 'PT Serif', serif;  
}

li {
    font-size: 12pt;
}

strong {
    font-weight: bold;
}






